<table class="table table-hover">
    <% properties.forEach(function(property) { %>
    <tr>
        <td><%= property.title%></td>
        <td><%= property.estate%></td>
        <td><a href="/property/interestedMembers/<%= property.id %>"><%= __('property_my_interested_member')%></a></td>
        <td><a href="/property/update/<%= property.id%>"><%= __('common_label_edit')%></a></td>
        <td><a href="javascript:;" onclick="RemoveProperty('<%= property.id%>')"><%= __('common_label_delete')%></a></td>
    </tr>
    <% }); %>
</table>
<script type="text/javascript">
    function RemoveProperty(id) {
        var txt,
            r = confirm("Confirm delete?");
        if(r == true) {
            var xhr = new XMLHttpRequest();
            xhr.open('POST', "/property/delete/" + id, true);
            xhr.onload = function(e) {
                alert('Property deleted!');
                location.reload(true);
            };
            xhr.send();
        }
    }
</script>