<table class="table table-hover">
    <% properties.forEach(function(property) {  %>
    <tr>
        <td><a href="/property/view/<%=property.id%>"><%= property.title %></a></td>
        <td><%= property.estate%></td>
        <td><%= property.grossArea%> sq feet</td>
        <td>HK$<%= property.rent%></td>
        <td><a href="javascript:;" onclick="uninterested('<%=property.id%>')">Not interested</a></td>
    </tr>
    <% }) %>
</table>

<script type="text/javascript">
    function uninterested(id) {
        var txt,
            r = confirm("Confirm unlike?");
        if(r == true) {
            $.ajax({
                url: '/member/declareUninterested/'+ id,
                method: 'put',
                success: function(responseData) {
                    alert(responseData);
                    location.reload(true);
                }
            })
        } else {
            alert('Cancelled');
        }   
    }
</script>